<!DOCTYPE html>
<html lang="en">
<head>
	 <title>QUES POST</title>
	 <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <meta http-equiv="X-UA-Compatible" content="ie=edge">
	 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	 <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	 <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-icon-180x180.png">
     <link rel="icon" type="image/png" sizes="192x192"  href="favicons/android-icon-192x192.png">
     <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
     <link rel="icon" type="image/png" sizes="96x96" href="favicons/favicon-96x96.png">
     <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
     <link rel="manifest" href="favicons/manifest.json">
     <meta name="msapplication-TileColor" content="#ffffff">
     <meta name="msapplication-TileImage" content="favicons/ms-icon-144x144.png">
     <meta name="theme-color" content="#ffffff">
<style type="text/css">
*{  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header, section, aside{display: block;}
body {               width:   100%;
                background:   #f9f6f2;
               font-family:   'Raleway', sans-serif;
                   display:   -webkit-box;
          -webkit-box-pack:   center;
             
} 

.big_wrapper{
                max-width:    100%;
                   margin:    30px 0;
                  display:    -webkit-box;
       -webkit-box-orient:    vertical;
         -webkit-box-flex:    1;
           }
   
.header{
                   height:    auto;
                    width:    100%;
               text-align:    center;
       }

#newdiv{
                  display:   -webkit-box;
       -webkit-box-orient:    horizontal;

  }

section {-webkit-box-flex:   1;
              margin-left:   10vw;
               text-align:   left;
               margin-top:   40px;

 }

aside{            display:   -webkit-box;
                  padding:   50px 0 20px 70px;
       -webkit-box-orient:   horizontal;
                    color:   #297c89;
          }

aside ul{
               list-style:   none;
               text-align:   left;
          }

@keyframes fadeIn {
            from {opacity:   0;}
              to {opacity:   1;}
            }

h1{
                font-size:   4.2vh;
                    color:   #297c89;             
  }

.btn-hide{        display:   none;}

.btn:link,
.btn:visited{
          text-decoration:   none;
           text-transform:   uppercase;
                  padding:   15px 40px;
                  display:   inline-block;
                transform:   all .3s;
            border-radius:   100px;
                 position:   relative;
               }

.btn-white{
               background:   #fff;
                    color:   #777;
           }

.btn:hover{
                transform:   translateY(-3px);
               box-shadow:   0 10px 20px rgba(0,0,0,.2)
           }

.btn:active{
                transform:   translateY(-1px);
               box-shadow:   0 5px 10px rgba(0,0,0,.2)
            }          

h2{                 color:   #297c89;
  }

.ques{             cursor:   pointer;
                font-size:   4vh ;    
                   height:   auto;
              font-family:   'Raleway', sans-serif;
               overflow-x:   auto;
               overflow-y:   hidden;
                    color:   #2b9191; 
  }

.btn-ans, .btn-hide{   
                   height:   auto;
                    width:   auto;
                    color:   #02a5db;
                font-size:   25px;
            }

.another{           color:   #ed2f2f; 
          text-decoration:   none;
                font-size:   15px;
              margin-left:   10px;
                    width:   25vh;
            margin-bottom:   10px;
      }     

 .btn-ans:hover{    color:   #ed2f2f;
               }

  .btn-hide:hover{  color:   #ed2f2f;
                }

  .another:hover{   color:   #008CBA; }

  .codea{           color:   #c66713;
         background-color:   #fff6ea;
                    width:   100%;
                   height:   auto;
                 overflow:   auto;
                animation:   fadeIn 2s;
}

.reqscroll{         width:   300px;
                   height:   auto;
              font-family:  'Raleway', sans-serif;
               overflow-x:   auto;
               overflow-y:   hidden;
}  

.ans{
                   height:   auto;
              font-family:  'Raleway', sans-serif;
               overflow-x:   auto;
               overflow-y:   hidden;
                    color:   #008CBA;
                font-size:   3vh ;
           padding-bottom:   20px;
         }

.toggle{            color:   #008CBA; 
                font-size:   20px;
            margin-bottom:   10px;
        } 


.toggle:hover{      color:   #ed2f2f; 
          }

   .ques:hover{     color:   #ed2f2f; 
                
      } 

 .post{        background:   none;
                   border:   none;
                   cursor:   pointer;
                    color:   #ed2f2f;
                font-size:   15px;
      }

.post:hover{        color:   #008CBA; 
       } 

  li{       margin-bottom:   10px;}

  .solve{           color:   #ed2f2f;
                  padding:   0.8vh 10px;
                font-size:   15px;
                    width:   auto;
            margin-bottom:   10px;
      } 

.solve:hover{       color:   #008CBA ; 
      }       

 .toggle:nth-of-type(1){
              margin-left:   5vw; }

 .codes{       margin-top:   20px;}
 
 .request_textarea{
                   height:   50px; 
                    width:   300px;
                    color:   #297c89;
                   border:   groove;
                   resize:   vertical;}
        
 <% for (var a = 0; a < questions.length; a++) {%>
   .<%=questions[a].quesID.replace(/\s/g,"")%>{display: none;animation: fadeIn 2s;}
   <% for (var b = 1; b < questions[a].codeNames.length; b++) { %>
     .<%=questions[a].codeNames[b].replace(/\s/g,"")%><%=a+1%>{display: none;}
   <% } %>
 <% } %>
 @media only screen and (max-width: 700px) {
  #newdiv{
                      display: -webkit-box;
           -webkit-box-orient:   vertical;}
  section{         margin-top: 10px;}
    aside{       padding-left: 20px;}
    .reqscroll{         width: 92vw;}

  
 }
</style>
</head>
<body>
<div class="big_wrapper">
  		<header class="header">
  		       <h1>Some general programming questions.</h1>
                <a class="btn btn-white" href="/new">Post a new question</a>
	     </header>
     <div id="newdiv">
      <aside>
       
      <ul>

          <% for (var i = 0; i< requests.length; i++) { %>
         <pre class="reqscroll"><a title="solve the request" class="solve" href="/solve/<%=i+1%>"><i class="fas fa-pen"></i></a> <%=requests[i]%></pre>
    <% } %>
       <form method="POST" action="/addrequest"><textarea class="request_textarea"  required placeholder="Add a request" type="text" name="newrequest"></textarea><br><button class="post" >post</button></form> 
         </ul>
         
       </aside>
	<section>
             <% for (var i = 0; i < questions.length; i++) { %>
                <div>
                  
                
                  <pre class="ques"  title="Show Answer"   id="show<%=i+1%>"  onclick="showAnswer<%=i+1%>()"><%=i+1%>. <%=questions[i].ques%></pre>
                    <pre   style="display: none;" class="ques" title="Hide Answer"  id="hide<%=i+1%>"  onclick="hideAnswer<%=i+1%>()"><%=i+1%>. <%=questions[i].ques%>
                  </pre>
                  
                 
                 
                  <div class="<%= questions[i].quesID.replace(/\s/g,"")%>">
                    <pre class="ans"><%=questions[i].ans%></pre>
              
                      <% if (questions[i].codeNames[0]=="") { %>       
                        <a class="another" href="/edit/<%=i+1%>">Edit to add first code&nbsp&nbsp<i class="far fa-edit"></i></a>
                      <% } else { %>
                        <a class="another" href="/addanothercode/<%=i+1%>"> Add Another code&nbsp&nbsp<i class="fas fa-plus"></i></a>
                          <a class="another" href="/edit/<%=i+1%>">Edit&nbsp&nbsp<i class="far fa-edit"></i></a>
                      <% } %>
                   
                    
                
                    <div class="codes">
                      <% for (var j = 0; j < questions[i].codeNames.length; j++) { %>
                      <% if (questions[i].codeNames[j]=="") { %>
                       
                      <% } else { %>
                        <a style="margin-right: 10px;cursor: pointer; " class="toggle" onclick="show<%=questions[i].codeNames[j]%>code<%=i+1%>()"><%=questions[i].codeNames[j]%></a>
                      <% }%>
                      
                      <% } %>
                      <% for (var k = 0; k < questions[i].codeNames.length; k++) { %>
                      <% if (questions[i].codeNames[k]=="") { %>
                        
                      <% } else { %>
                        <pre class="codea <%=questions[i].codeNames[k]%><%=i+1%>">
                        <%=questions[i].codes[k]%>
                      </pre>
                      <% } %>
                        
                      <% } %>
                      
                    </div>
                    
             </div>
              </div>
             <% } %>


 </section>
   </div>
     </div>
 <script type="text/javascript">
   <% for (var c = 0; c < questions.length; c++) {%>
  function showAnswer<%=c+1%>(){
  document.querySelector("#hide<%=c+1%>").style.display="block";
  document.querySelector("#show<%=c+1%>").style.display="none";
  document.querySelector(".<%=questions[c].quesID.replace(/\s/g,"")%>").style.display="block";
  };
  function hideAnswer<%=c+1%>(){
  document.querySelector("#hide<%=c+1%>").style.display="none";
  document.querySelector("#show<%=c+1%>").style.display="block";
  document.querySelector(".<%=questions[c].quesID.replace(/\s/g,"")%>").style.display="none";
  };
  <% for (var d = 0; d < questions[c].codeNames.length; d++) { %>
    function show<%=questions[c].codeNames[d].replace(/\s/g,"")%>code<%=c+1%>(){
   document.querySelector(".<%=questions[c].codeNames[d].replace(/\s/g,"")%><%=c+1%>").style.display="block";
   <% var f = questions[c].codeNames.length-1; while(f>d) { %>
      document.querySelector(".<%=questions[c].codeNames[f].replace(/\s/g,"")%><%=c+1%>").style.display="none";
   <% f--} %>
    <% for (var e = 0; e<d; e++) { %>
      document.querySelector(".<%=questions[c].codeNames[e].replace(/\s/g,"")%><%=c+1%>").style.display="none";
   <% } %> 
    };   
   <% } %>
 <% } %>

         

 </script>
       </body>
</html>           